.leaflet-container {
  width: 60vw;
  height: 30vw;
  margin-left: 30px;
}

h1 {
  color: blueviolet;
  margin-left: 30px;
}

.InfoVuelos {
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 40%;
  color: brown;
  font-size: 15px;
}

.ChatVivo {
  margin-left: 65%;
  margin-right: 15px;
  margin-top: 35px;
  color: brown;
}
